/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import '~@angular/material/theming';
@include mat-core();
@media print {
    .breadcrumb {
        display: none !important;
    }
}
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
$primary: mat-palette($mat-deep-purple, 600, 500, 900);
$accent: mat-palette($mat-amber, A400, A300, A600);


body { margin: 0; font-family: 'Roboto', sans-serif; background-color: mat-color($accent); }

.tool-row{
    flex: 1 1 auto;
}

.calc {
    display: block;
    width:25%;
    margin: auto;
    margin-top: 100px;
}
.bigbox {
    position: absolute;
    width:100%;
    height:100%;
    background-color: #ddd;
    z-index: 1;
}
