<mat-card class="calculator-card">
  <div class="result">{{result}}</div>
  <mat-grid-list cols="2" rowHeight="30px">
      <mat-grid-tile><button mat-button (click)="replaceThis()">CLEAR</button></mat-grid-tile>
      <mat-grid-tile><button mat-button (click)="replaceThis()">DEL</button></mat-grid-tile>
    </mat-grid-list>
  <mat-grid-list cols="4">
    <mat-grid-tile><button mat-button (click)="replaceThis()">&#43;</button></mat-grid-tile>
    <mat-grid-tile><button mat-button (click)="replaceThis()">&#8722;</button></mat-grid-tile>
    <mat-grid-tile><button mat-button (click)="replaceThis()">&#215;</button></mat-grid-tile>
    <mat-grid-tile><button mat-button (click)="replaceThis()">&#247;</button></mat-grid-tile>
    <mat-grid-tile><button mat-button (click)="replaceThis()">9</button></mat-grid-tile>
    <mat-grid-tile><button mat-button (click)="replaceThis()">8</button></mat-grid-tile>
    <mat-grid-tile><button mat-button (click)="replaceThis()">7</button></mat-grid-tile>
    <mat-grid-tile><button mat-button (click)="replaceThis()">6</button></mat-grid-tile>
    <mat-grid-tile><button mat-button (click)="replaceThis()">5</button></mat-grid-tile>
    <mat-grid-tile><button mat-button (click)="replaceThis()">4</button></mat-grid-tile>
    <mat-grid-tile><button mat-button (click)="replaceThis()">3</button></mat-grid-tile>
    <mat-grid-tile><button mat-button (click)="replaceThis()">2</button></mat-grid-tile>
    <mat-grid-tile><button mat-button (click)="replaceThis()">1</button></mat-grid-tile>
    <mat-grid-tile><button mat-button (click)="replaceThis()">0</button></mat-grid-tile>
    <mat-grid-tile><button mat-button (click)="replaceThis()">.</button></mat-grid-tile>
    <mat-grid-tile><button mat-button (click)="replaceThis()">&#61;</button></mat-grid-tile>
  </mat-grid-list>
</mat-card>